{% extends "blog/base.html" %}
 {% block title %}
   <title>About -RoommateFinder</title> 
 {% endblock %}
{% block content %}
<div class="content-section">
	<h1>About</h1>
	<p>The sole aim of <i>RoommateFinder.com</i> is to provide a platform for people to post roommate request blogs.</p>
	<p>People can follow unfollow other people and comment if they are interested to move in with them.</p>
	<p>This is a coomon platform for people to find roommates who are like-minded</p>
</div>
{% endblock content %}
